source : https://www.programiz.com/python-programming/regex

In [ ]:
import re

In [ ]:
# '^@....n$'  start with @, ending with n and must be 5 character. If u delete the $, it means not must be 5 character
pattern = '^@....n$'
text = '@marina'
result = re.match(pattern,text)
if result:
  print("Success")
else:
  print("Give @ on your string")

Give @ on your string

Meta character : [ ] . ^ $ + ? { } ( ) \ |</br>
- [...] square bracket, specifies a set of character, ex [0-9] 123456789, [a-c] abc, [a-z] lowercase a till z, [^0-9] non digit nuber (^ mean as not/negation)
- . period, match any single character
- ^ Caret, a string startwith
- S Dollar(S dolar), a string endwith
- 'star' matches zero or more occurrences of the pattern left to it, ex ir*n (in {martch}, irwn {not matched}))
- '+' matches one or more occurrences of the pattern left to it , ex ir+n (irrrrn {martched}, irwn {not matched}))
- ? Question Mark, matches zero or one occurrence of the pattern left to it
- { } Braces, Consider this code: {n,m}. This means at least n, and at most m repetitions of the pattern left to it. Ex [0-9]{11,12} all number with 11-12 character.
- | alternate, or operation. Ex a|b in kebab {matched}
- () is used to group sub-patterns. For example, (a|b|c)xz match any string that matches either a or b or c followed by xz. Ex axz, abcxz
- \ is used to escape various characters including all metacharacters. Ex \@: matched with string start with @

In [ ]:
ptrn = '\@'
txt1 = "@irwan_afandi"
re.match(ptrn,txt1)

<h3>Special Sequence</h3>
<ol>
  <li> \Acharacter, Matches if the specified characters are at the start of a string. Ex: \Airwan, so the pattern must be start with irwan (irwan is a jobseeker)</li>
  <li>\bcharacter (start) character\b (end), Matches if the specified characters are at the beginning or end of a word. Ex footbal, a foot, afoo</li>
  <li>\B is the opposite of \b, Matches if the specified characters are not at the beginning or end of a word. Ex: afoolan</li>
  <li>\d == [0-9], match with decimal digit. Ex 1996, rossi46</li>
  <li>\D == [^0-9], match with non decimal digit. Ex: python, rossi46</li>
  <li>\s , match with a string contains any whitespace character. Equivalent to [ \t\n\r\f\v]. Ex: "Tanijoy Tumbuh Bahagia" {match 2}, calculate the number of space</li>
  <li>\S, Matches where a string contains any non-whitespace character. Equivalent to [^ \t\n\r\f\v]. Ex: "Tanijoy Tumbuh Bahagia" {match 3}, calculate the number of words</li>
  <li>\w, Matches any alphanumeric character (digits and alphabets). Equivalent to [a-zA-Z0-9_]</li>
  <li>\W, Matches any non-alphanumeric character. Equivalent to [^a-zA-Z0-9_]</li>
  <li>\Z, Matches if the specified characters are at the end of a string. Ex: Tanijoy\Z, "Start up baru Tanijoy" {match 1}</li>
</ol>

<h3>Regex implementation</h3>

In [ ]:
#findall, return list of strings containts match character with what we find
text = "Irwan was born on Banyuwangi 1996"
pattern = '\S+[a-z]'
re.findall(pattern, text)

['Irwan', 'was', 'born', 'on', 'Banyuwangi']

In [ ]:
#Split, if there is a match pattern, it will be split the string
text = "What date is it?21Juli2020. And you24 now"
pattern = '\d+'
re.split(pattern, text)
#add max split, if u want to split the string to x data
# re.split(pattern, text,2) ==> ['What date is it?', 'Juli', '. And you24 now']

['What date is it?', 'Juli', '. And you', ' now']

In [ ]:
#re sub, re.sub(pattern, replace, string)
#find the string that matched with pattern and replace it with another string
text = 'Hellow Pak ruma@DonalSetiawan bagaimana kabar bapak sekarang? dari @mila'
pattern = '\s\w*(@\w+)'
#mean space,word,union(@word)
re.sub(pattern, "", text)
#re.subn() same with re.sub() but this is return a tuple of 2 items containing the new string and the number of substitutions made

'Hellow Pak bagaimana kabar bapak sekarang? dari'

In [ ]:
#re.search(pattern, string), look for the first location where the pattern match with the string
text = "Call him Irwan, A good boy"
pattern = 'go'
result = re.search(pattern, text) 
if result:
  print("Success")
else:
  print("Filed ", result)

Success

In [ ]:
#group(), return part of string where there is a match
text ='351 00 431256 00 012 9'
#mean 3 digit number, space, 2 digit number
pattern = '(\d{3}) (\d{2})'
match = re.search(pattern, text)
if match:
  print(match.group())
else:
  print("Failed")

351 00

In [ ]:
# returns the index of the start of the matched substring
match.start()

0

In [ ]:
# returns the end index of the matched substring
match.end()

6

In [ ]:
# returns a tuple containing start and end index of the matched part.
match.span()

(0, 6)

In [ ]:
# When r or R prefix is used before a regular expression, it means raw string. 
# For example, '\n' is a new line whereas r'\n' means two characters: a backslash \ followed by n
string = '\n and \r are escape sequences.'

result = re.findall(r'[\n\r]', string) 
print(result)

['\n', '\r']